<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#logo">
  <img src="assets/mrpau_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
  MrPau Softwares
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Documentation </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About team </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Projects </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link </a>
      </li>
    </ul>
  <ul class="navbar-nav mr-auto ml-md-auto">
    <li class="nav-item active">
      <a class="nav-link pl-2 pr-1 mx-1 py-3 my-n2" href="https://web.facebook.com/mrpau.softwares/" target="_blank" rel="noopener" aria-label="Facebook" >
      <img src="assets/fb-logo.png" width="17" height="17" class="d-inline-block align-top" alt="" loading="lazy">
      <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link pl-2 pr-1 mx-1 py-3 my-n2" href="https://github.com/mrpau" target="_blank" rel="noopener" aria-label="GitHub" >
      <img src="assets/github.png" width="17" height="17" class="d-inline-block align-top" alt="" loading="lazy">
      </a>
    </li>
  </ul>
  </div>
</nav>
<router-outlet></router-outlet>
